@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
:root { --primary-color: #3868fd; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    min-height: 100vh;
    background: radial-gradient(circle, #7B9BFF 0%, #3868FD 72%);
}

.form-container {
    border-radius: 20px;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 25px;
}

#e-wallet-logo {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 20px;
}
#e-wallet-logo img {
    width: 32px;
    height: auto;
    
}

#title {
    color:#0B132A;
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 25px;
}

#small-text {
    color: #4F5665;
    font-size: 16px;
    line-height: 166%;
    margin-bottom:25px;
    padding: auto;

}


.input-email {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

label {
    margin-bottom: 8px;
    font-weight: 500;
}

input[type="email"]{
    margin-bottom: 15px;
    padding: 10px 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    color: #4F5665;
    background-color: #FCFDFE;
    transition: border 0.3s ease;
}

input[type="email"]:hover {
    border: 1px solid black;
}

.input-icon {
    position: absolute;
}

.input-icon {
    left: 12px;
    top: 35%;
    transform: translateY(-50%);
}

.btn-submit {
    font-size: 14px;
    padding: 10px;
    color: white;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #273fc8;
}
@media (max-width: 768px){
    .split-container {
        flex-direction: column;
    }
    .form-container {
        padding: 10px;
    }
}