@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
:root { --primary-color: #3868fd; }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#e-wallet-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

#e-wallet-logo img {
    width: 32px;
    height: auto;
}

.profile-grup {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.profile-pic  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-grup .icon-down {
    width: 15px; 
    height: auto;
}

.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    padding: 15px;
    width: 250px;
    background-color: #FFFFFF;
    border-right: 1px solid #EAEAEA;
}

ul {
    list-style: none;
    margin-top: 24px;
}

li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    color: #4F5665;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.icon-transfer, .icon-dash, .topup-icon, .profile-icon{
    text-decoration: none;
    color: #4F5665;
}

li:hover {
    background-color: #9d9ea0;
}

.active {
    background-color: var(--primary-color);
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.active:hover {
    background-color: #273fc8;
}

.logout {
    color: #D00000;
    transition: background-color 0.3s ease;
}

.main-content {
   flex: 1;
    background-color: white;
}


.page-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 12px 15px;
}

.history-card {
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    padding: 30px;
    margin: 30px;

}

.history-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.history-filter h3 {
    color: #0b132A;
}

.search {
    position: relative;
    width: 40%;
}

.search input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding-right: 40px;
    outline: none;
}

.search img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.transaction-item:nth-child(2n+1) {
    background-color: #f8f9fa;
}
.transaction-item {
    display: flex;;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 2px solid #EAEAEA;
}

.trans-profile {
    display: flex;
    flex: 0.5;
    justify-content: flex-start;
    gap: 15px;
    flex: 2;
}

.trans-profile img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
}



.name {
    flex: 2;
    text-align: center;
    color: #4F5665;
}
.phone-number {
    flex: 3;
    text-align: center;
    color: #4F5665;
}

.trans-amounts {
    flex: 2;
    font-weight: 600;
    text-align: center;
}

.trans-amounts.positive {
    color: #12b76a;
}

.trans-amounts.negative {
    color: red;
}

.trans-action {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    color: #4f5666;
    font-size: 14px;
}

.page-number {
    display: flex;
    gap: 20px;
    align-items: center;
}

.page-number span {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
}
.page-number span:hover {

    background-color: var(--primary-color);
    color: white;
}
.page-number p {
    color: black;
    cursor: pointer;
}

.page-number span:first-of-type {
    background-color: var(--primary-color);
    font-weight: 600;
    color: white;
    padding: 10px;
}

@media (max-width: 768px) {

    header {
       justify-items: space-between;
       padding: 20px 22px;
    }
    .history-card {
        padding: 20px; 
    }

    .history-filter {
        flex-direction: column; 
        align-items: flex-start;
        gap: 15px;
    }

    .search {
        width: 100%; 
    }


    .transaction-item {
        display: grid; 
        grid-template-columns: 60px 1fr auto; 
        row-gap: 5px; 
        padding: 15px 0;
    }

 
    .trans-avatar {
        grid-column: 1;
        grid-row: 1 / span 2; 
    }

    
    .trans-name {
        grid-column: 2;
        grid-row: 1;
        text-align: left; 
    }

    
    .phone-number {
        grid-column: 2;
        grid-row: 2;
        text-align: left; 
        font-size: 12px; 
    }

    
    .trans-amounts {
        grid-column: 3;
        grid-row: 1;
        text-align: right; 
        margin-right: 0; 
    }

   
    .trans-action {
        grid-column: 3;
        grid-row: 2;
        justify-content: flex-end; 
    }

    .pagination {
        flex-direction: column; 
        gap: 20px;
    }
    
    .page-number {
        flex-wrap: wrap; 
        justify-content: center;
    }
}
